<div>
	<h2>Upload Excel</h2>
	<div ng-controller="UploadExcelController as vm">
		<button type="button" class="btn btn-success" ng-click="vm.reset()">Reset
			Grid</button>
		<br /> <br />
		<div id="grid1" ui-grid="vm.gridOptions" class="gridStyle"  ng-show="vm.gridOptions.data.length">
		</div>
		<div class="msg" ng-show="!vm.gridOptions.data.length">
			<span class="muted">Select Spreadsheet File</span> <br /> <input
				type="file" accept=".xls,.xlsx,.ods" fileread=""
				opts="vm.gridOptions" multiple="false" />
		</div>
	</div>
</div>
<!-- Above thing is working fine, able to read from excel, but not able to load it grid-data on to browser-->

<!-- below is initial code -->
<!-- <div>
	<h2>Upload Excel</h2>
	<div ng-controller="UploadExcelController as vm">
		<button type="button" class="btn btn-success" ng-click="vm.reset()">Reset
			Grid</button>
		<br /> <br />
		<div id="grid1" ui-grid="vm.gridOptions" class="gridStyle" >
			<div class="grid-msg-overlay" ng-show="!vm.gridOptions.data.length">
				<div class="msg">
					<div class="center">
						<span class="muted">Select Spreadsheet File</span> <br /> <input
							type="file" accept=".xls,.xlsx,.ods" fileread=""
							opts="vm.gridOptions" multiple="false" />
					</div>
				</div>
			</div>
		</div>
	</div>
</div> -->
<!-- Abvoe is initial code -->